@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  color:black;
  position: absolute;
  font-size: 20px;
  left: 10px;
  top:10px;
}
.title:hover {
  color: #454545;
}
.title2{
  color:black;
  position: absolute;
  font-size: 20px;
  right: 100px;
  top:10px;
}
.title2:hover {
  color: #454545;
}
.title3{
  color:black;
  position: absolute;
  font-size: 20px;
  right: 10px;
  top:10px;
}
.title3:hover {
  color: #454545;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}
::placeholder {
  color: white;
  font-size: 15px;
}
.searchTerm {
  color:#808080;
  width: 100%;
  border: 3px solid #D3D3D3;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
  text-align: right;
  background-color: #D3D3D3;
}

.searchTerm:focus{
  color: #FFFFFF;
}

.line{
  width: 100%;
  top:50px;
  border-bottom: 1px solid black;
  position: absolute;
  }
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

}

.imagebox{
  width: 100%;
  position: absolute;
  display: flex;
  top: 5%;
  border: 3px solid black;
  padding: 5px;
  height: 250px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
  text-align: right;
  background-color: #FFFFFF;
}

.App-link {
  color: #61dafb;
}
.flip-card {
  position: absolute;
  top: 50%;
  background-color: transparent;
  top: 50;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
